<nav class="bg-gray-800 p-4">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">

      <div
        class="flex flex-1 items-center justify-center sm:items-center sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">

          <a href="/">

            <img
              class="h-16 w-auto cursor-pointer"
              src="images/logo.png"
              alt="Company logo"
            />
          </a>

        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              href="/movies"
              class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page"
            >All Movies</a>
            <a
              href="/movies/search"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
            >Search Form</a>

            <a
              href="/addMovie"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
            >Add movie</a>

          </div>
        </div>
      </div>

    </div>
  </div>

</nav>