<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Movie Website</title>
  </head>
  <body>
{{> navbar}}
    <div class="container">

      {{{body}}}
    </div>

    <!-- Footer -->
<footer class="bg-gray-900 text-white py-8">
  <div class="container mx-auto text-center">
    <p>&copy; 2023 Mflix &ndash; Chandrika venu Killada  &ndash; Saurab Prasher</p>
  </div>
</footer>
  <script src="scripts/app.js" ></script>
  </body>

</html>