<div
  class="bg-green-200 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3 shadow-md"
>
  <div class="flex justify-center h-20 items-center">

    <div>
      <p class="font-bold">{{mainMessage}}</p>
      <p class="text-sm">{{secondaryMessage}}</p>
    </div>
  </div>
</div>